<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated contacts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="contacts.presentation.ContactsModelWizardID"
            name="%_UI_ContactsModelWizard_label"
            class="contacts.presentation.ContactsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContactsModelFile.gif">
         <description>%_UI_ContactsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated contacts -->
      <editor
            id="contacts.presentation.ContactsEditorID"
            name="%_UI_ContactsEditor_label"
            icon="icons/full/obj16/ContactsModelFile.gif"
            extensions="contacts"
            class="contacts.presentation.ContactsEditor"
            contributorClass="contacts.presentation.ContactsActionBarContributor">
      </editor>
   </extension>

</plugin>
