<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.example.rcp.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.example.rcp.app/com.example.rcp.app.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="com.example.rcp.app">
         </property>
      </product>
   </extension>

</plugin>
